  #tooltip {
    display: none;
    position: absolute;
    float: left;
    background-color: #fff;
    padding: 7px;
    border-radius: 3px;
    z-index: 1000;
    font-size: 80%;
    color: #666;
  }

body {
  background: #fff;
}

.viz {
  background: #eee;
  border: 1px solid #ddd;
  float: left;
  padding: 20px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.viz h1 {
  font-family: sans-serif;
  margin: 0px 0px 30px;
  font-size: 16px;
  font-weight: normal;
}